<div class="notifications">
  <% flash.each do |message_type, message| %>
    <%= message %>
  <% end %>
</div>


<p class="show-p"><b>Title:</b><%= @book.title %></p>
<p class="show-p"><b>Body:</b><%= @book.body %></p>

<div class="buttons">
  <%= link_to "Edit", "/books/#{@book.id}/edit" %>
  |
  <%= link_to "Back", "/books" %>
</div>

